@import url(./__content/page__content.css);

.page {
  background-color: #2A2C2F;
  color: #ffffff;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
