.place__text {
  grid-area: text;
}
/*
@media screen and (max-width: 870px) {
  .place__text {
    padding: 0 0 48px;
  }
} */

@media screen and (max-width: 700px) {
  .place__text {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 500px) {
  .place__text {
    padding: 0 16px 0;
  }
}
