.lead__title {
  max-width: 720px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin: 0 auto 32px;
}

@media screen and (max-width: 970px) {
  .lead__title {
    margin: 0 auto 32px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 60px;
    line-height: 1.06;
    margin: 0 auto 16px;
  }
}

@media screen and (max-width: 640px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    margin: 0 auto 16px;
  }
}
