.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
}

@media screen and (max-width:720px) {
  .footer__copyright {
    text-align: left;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1;
    margin: 0;
  }
}
