@import url(./__list/intro__list.css);
@import url(./__span-accent/intro__span-accent.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 92px;
}

@media screen and (max-width:1024px) {
  .intro {
    margin: 0 48px 0;
  }
}

@media screen and (max-width:984px) {
  .intro {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 970px) {
  .intro {
    margin: 0 16px 0;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-bottom: 64px;
  }
}

