@import url(./__list/intro__list.css);
@import url(./__span-accent/intro__span-accent.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 92px;
}

@media screen and (max-width: 970px) {
  .intro {
    padding: 0 24px 88px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-bottom: 0 16px 64px;
  }
}

